@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  color: rgb(5, 94, 129);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background-color: rgb(12, 8, 8);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  text-align: center;
  width: 100%;
  border-bottom: solid 1px rgb(12, 184, 127);
  padding: 20px 0;
}

.brand {

  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 30px;
}
